/*eslint linebreak-style: ["error", "windows"]*/
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "jsx-a11y/no-marquee": 0,
    "extensions": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/newline-after-import": 0,
    "import/prefer-default-export": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 1,
    "react/prop-types": 1,
    "no-unused-vars": 1,
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "no-underscore-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "__SERVER__": true,
    "__CLIENT__": true,
    "window": true
  }
}
